@using zcc_tickets.Models
@model Root

@{
    ViewData["Title"] = "Tickets";
    var count = 0;
}

@if (Model.tickets != null)
{
    <h1>@ViewData["Title"]</h1>

    <p>Here are your tickets listed below: </p>

    @foreach (var ticket in Model.tickets)
    {
        <div>
            <a asp-controller="Tickets" asp-action="ViewTicket" asp-route-id="@count"><h3>@ticket.subject:</h3></a><p>@ticket.status</p>
            <h4>@ticket.id</h4>
            <p>@ticket.description</p>
        </div>
        <hr />
        { count++; }
    }

    @if (Model.meta.has_more)
    {
        <div>
            <a asp-controller="Tickets" asp-action="TicketsNext">Next</a>
        </div>
        { count = 0;}
    }

    @if (Model.tickets[0].id != 1)
    {
        <div>
            <a asp-controller="Tickets" asp-action="TicketsPrev">Prev</a>
        </div>
        { count = 0;}
    }
}
else
{
    <h1>Error - Something went wrong with the request...</h1>
    <br />
    <h3>Please reload or try again later.</h3>
}